@model Entities.Concrete.FollowList
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_GlobalLayout.cshtml";
}
<style type="text/css">

    .kutu {
        width: 200px;
        height: 100px;
        background: #ddd;
        overflow: auto;
    }

    .kutu2 {
        width: 200px;
        height: 150px;
        background: #ddd;
        margin-top: 25px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div>
    <table>
        <thead>
            <th style="font-size:25px">Kayıt Güncelle</th>
        </thead>
        <form asp-controller="Ihracat" asp-action="Update" method="post">
            <tr >
                <td >
                    <label asp-for="InvoiceNo">Fatura Numarası</label><br />
                    <input asp-for="InvoiceNo" autofocus />
                </td>
                <td>
                    <label asp-for="Segment">Segment</label><br />
                    <input asp-for="Segment" />
                </td>
                <td>
                    <label asp-for="SerialNo">Seri Numarası</label><br />
                    <input asp-for="SerialNo" />
                </td>
                <td>
                    <label asp-for="Well">Kuyu</label><br />
                    <input asp-for="Well" />
                </td>
                <td>
                    <label asp-for="PigmNo">Pigm Numarası</label><br />
                    <input asp-for="PigmNo" />
                </td>
                <td>
                    <label asp-for="PigmNo">Pigm Numarası</label><br />
                    <input asp-for="PigmNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="PetitionNo">Dilekçe Numarası</label><br />
                    <input asp-for="PetitionNo" />
                </td>
                <td>
                    <label asp-for="Used">Kullanılmış mı</label><br />
                    <input asp-for="Used" />
                </td>
                <td>
                    <label asp-for="FrontIndexStatus">Ön Dizin Durumu</label><br />
                    <input asp-for="FrontIndexStatus" />
                </td>
                <td>
                    <label asp-for="Explanation">Açıklama</label><br />
                    <input asp-for="Explanation" />
                </td>
                <td>
                    <label asp-for="RecourseDate">Kayıt Tarihi</label><br />
                    <input asp-for="RecourseDate" />
                </td>
                <td>
                    <label asp-for="TpsNo">Tps Numarası</label><br />
                    <input asp-for="TpsNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DocumentNo">Belge Numarası</label><br />
                    <input asp-for="DocumentNo" />
                </td>
                <td>
                    <label asp-for="RatificationDate">Kabul Tarihi</label><br />
                    <input asp-for="RatificationDate" />
                </td>
                <td align="center"><br /><input type="submit" value="Güncellemeyi Kaydet" class="btn btn-success" /></td>
            </tr>
        </form>
    </table>
</div>